
body {
  background-image: url("img5.jpg");

  background-color: #3f0f41;
	border: 7px #ffeb3b;
	padding: 40px;
	justify-content: center;

}
.image-box {

  /* Here's the trick */
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , var(--image-url) center center;
  background-size: cover;

  /* Here's the same styles we applied to our content-div earlier */
  color: white;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .button {
  display: inline-block;
  width: 80px;
  height: 80px;
  padding: 25px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ffc645;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px #e0e0e0;
}

.button:hover {background-color: gray}

.button:active {
  background-color: #3f0f41;
  box-shadow: 05px 2px 5px 1px  #e0e0e0;
  transform: translateY(4px);
}
.label{
	font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px 5px #999999;
	color: gray;

}
.bodyAll{
  margin-left: 37%;	
  margin-top:5%; 
  position: absolute;
  align-items: center;
  border: 5px solid #ffffff;
  border-radius: 20px;
  padding: 40px;
  background-color: #ffffff;
  justify-content: center;
 box-shadow: 05px 2px 15px 1px #000000;
  text-align: center;
}
.divAll{
	margin-left: 1%;
}
input[type=text] {
  padding: 12px 20px;
  margin: 8px 0 2px 5px;
  box-sizing: border-box;
  border-radius: 10px;
}
.btnclear{
  width: 160px;
  background-color: #3f0f41 
}


